body{
  background: #3b3b3b;
  color:  #d8d3d3;
  font-size:  2em;
}
.container{
  height: 100vh;
  min-width: 290px;
  min-height: 50vh;
  padding: 5px; 
  display: grid;
  grid-template-rows:  15% 15% 50px 1fr;
  grid-template-areas: "a"
             "b"
             "c"
             "d";
}

.menu{

  grid-area: a;
  
}

.menu nav img:hover{
  background: #575656;
}

.result{
  grid-area: b;
  display: grid;
  height: 100%;
  font-size: 0.7em;
  grid-template-rows: repeat(2, 25px);
  justify-content: flex-end;
  overflow: hidden;
}

.memory{
  grid-area: c;
  font-size: 0.5em;
  display: flex;
  justify-content: space-around;
  width: 55vw;
}
.memory p:hover{
  padding-top: 0.3em;

}
.menu nav ul{

  display: none;
}
.memor{
  display: none;
  width: 0px;
}

.operations{
  grid-area: d;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
  
}
h6{
  margin: 0px;
}


.mer div{
  position: absolute;
  width: 90%;
  padding: 2%;
  top: -3px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}

.mer .guardar{
  height: 100vh;
  position: relative;
  top: 100px;
  
}


.mer div h6:hover{
  color: #fff;
}

.mer div h6::before{
 /* 
  content: "";
  position:absolute;
  bottom: 1px;
  width: 15px;
  height: 2px;
  background-color: deepskyblue;
  border-radius: 7px;
*/
}
.op, .number{ 
  min-height: 70px;
  display: grid;
  align-items: center;
  justify-content: center;

}
.op:hover, .number:hover{

  background: #575656;
}
.number{
  background: #1a1a1a;
}
.op{
  font-size: 0.7em;
  background: #2e2e2e;
}

.resultado{
 position: absolute;
 left: 65%;


}
.res{
  background-color: rgb(23, 141, 181);
}
.res:hover{
  background-color: rgb(23, 165, 212);
}

/* Responsive*/


@media (min-width: 800px){

  body{
    width: 74vw;
  }

  .mer{
    
    width:  25vw;
    height:  100vh;
    position:  absolute;
    background: #1a1a1a;
    right: 0px;
    top: 0px;
  }
}